<html>
    <head>
    <title>Student Form</title>
</head>
<body>
<h2>Student Form </h3>
<table align="center" cellpadding = "10">
<!--------------------- First Name ------------------------------------------>
<tr>
<td>First Name</td>
<td><input type="text" name="FirstName" maxlength="50" placeholder="Lalitha" />
</td>
</tr>
<!------------------------ Last Name --------------------------------------->
<tr>
<td>Last Name</td>
<td><input type="text" name="LastName" maxlength="50" placeholder="Kumari"/>
</td>
</tr>
<!-------------------------- Mobile Number ------------------------------------->
<tr>
    <td>Mobile Number</td>
    <td>
    <input type="text" name="MobileNumber" maxlength="10" placeholder="93xxxxxxxx"/>
    </td>
    </tr>
    <!------------------------- Address ---------------------------------->
<tr>
    <td>Address<br /><br /><br /></td>
    <td><textarea name="Address" rows="10" cols="50"></textarea></td>
    </tr>
    <!----------------------- Submit ------------------------------->
<tr>
    <td colspan="2" align="center">
        <input type="submit" name="open" value="Open">
    <input type="submit" name="close" value="Close">
</td>
</tr>
</table>
</form>
</body>
</html>
