{% extends "base.html" %}

{% block content %}
<div class="new-student">
  <button id="add-student-btn" class="btn btn-primary">Add New Student</button>
</div>

<div class="wrapper">
  <form action="/delete" method="post">
  <table id="student-table" class="table table-striped">
    <thead>
       <tr>
          <th>Select</th>
          {% for header in headers %}
              <th>{{header}}</th>
          {% endfor %}
      </tr>
  </thead>
    <tbody>
      {% for row in rows %}
        <tr>
           <td><input type="checkbox" name="delete[]" value="{{row['PersonID']}}"></td>
           <td>{{row['PersonID']}}</td>
           <td>{{row['LastName']}}</td>
           <td>{{row['FirstName']}}</td>
           <td>{{row['Address']}}</td>
           <td>{{row['City']}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="button" id="add-student-btn" class="btn btn-primary">Add Student</button>
  <button type="submit" id="submit-btn" class="btn btn-success">Submit</button>
  <button type="submit" class="btn btn-danger">Delete Selected Rows</button>
</div>
{% endblock %}

