<html>
<body>
<table>
    <caption>Student Mark List</caption>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    <tr>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>English</th>
      <th>Maths</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Lalitha</td>
      <td>60</td>
      <td>80</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Sasi</td>
      <td>100</td>
      <td>100</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Rahul</td>
    <td>40</td>
    <td>38</td>
  </tr>
</table>
</body>
</html>